<h3 class="p-5 pb-0 title-drunk">FAQ</h3>

<div class="p-4" style="margin-bottom: 100px;">


    <div class="accordion" id="accordionExample1">
        <div class="accordion-item">
            <h2 class="accordion-header " id="heading1">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1"
                    aria-expanded="true" aria-controls="collapse1">
                    LIVELLI TEORICI DI ALCOLEMIA
                </button>
            </h2>
            <div id="collapse1" class="accordion-collapse collapse show" data-bs-parent="#accordionExample1"
                role="region" aria-labelledby="heading1">
                <div class="accordion-body">
                    La Tabella contiene I LIVELLI TEORICI DI ALCOLEMIA RAGGIUNGIBILI DOPO L'ASSUNZIONE DI UNA UNITÀ
                    ALCOLICA<br>
                    I valori di ALCOLEMIA, calcolati in base al sesso, al peso corporeo e all'’'essere a stomaco vuoto o
                    pieno, sono solo indicativi e si riferiscono ad una assunzione entro i 60-100 minuti precedenti
                    <br>
                    Se si assumono più unità alcoliche, per conoscere il valore di alcolemia raggiunto è necessario
                    sommare i valori indicati per ciascuna unità alcolica consumata **

                    <br>
                    <div class="div-table">
                        <table border="1" class="table-w">
                            <thead>
                                <tr style="color: #0059B3;">
                                    <th>Bevanda</th>
                                    <th>Volume (cc)</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Birra</td>
                                    <td>330 cc</td>
                                </tr>
                                <tr>
                                    <td>Vino</td>
                                    <td>125 cc</td>
                                </tr>
                                <tr>
                                    <td>Vini liquorosi-aperitivi</td>
                                    <td>80 cc</td>
                                </tr>
                                <tr>
                                    <td>Digestivi</td>
                                    <td>40 cc</td>
                                </tr>
                                <tr>
                                    <td>Superalcolici</td>
                                    <td>40 cc</td>
                                </tr>
                                <tr>
                                    <td>Champagne/spumante</td>
                                    <td>100 cc</td>
                                </tr>
                                <tr>
                                    <td>Ready to drink</td>
                                    <td>150 cc</td>
                                </tr>
                                <tr>
                                    <td>MIX (sommare i componenti)</td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>


                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header " id="heading2">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
                    Cosa sono i cookie?
                </button>
            </h2>
            <div id="collapse2" class="accordion-collapse collapse" data-bs-parent="#accordionExample1" role="region"
                aria-labelledby="heading2">
                <div class="accordion-body">
                    I cookie sono piccoli file di testo che vengono memorizzati sul tuo dispositivo quando visiti un
                    sito web. Essi sono ampiamente utilizzati per rendere il sito web più efficiente e migliorare
                    l'esperienza di navigazione per l'utente. Inoltre, possono essere utilizzati per raccogliere alcune
                    informazioni sull'utente. </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header " id="heading4">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
                    Quali informazioni raccogliamo?
                </button>
            </h2>
            <div id="collapse4" class="accordion-collapse collapse" data-bs-parent="#accordionExample1" role="region"
                aria-labelledby="heading4">
                <div class="accordion-body">
                    Quando visiti il nostro sito web e inserisci un profilo, raccogliamo alcune informazioni al fine di
                    migliorare la tua esperienza. Le informazioni raccolte possono includere il tuo nome, indirizzo
                    email, informazioni di contatto e preferenze personali. Questi dati ci aiutano a fornirti un
                    servizio personalizzato e adattato alle tue esigenze. </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header " id="heading3">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
                    Come utilizziamo queste informazioni?
                </button>
            </h2>
            <div id="collapse3" class="accordion-collapse collapse" data-bs-parent="#accordionExample1" role="region"
                aria-labelledby="heading3">
                <div class="accordion-body">
                    Le informazioni che raccogliamo vengono utilizzate esclusivamente per migliorare i nostri servizi e
                    personalizzare la tua esperienza. Non condividiamo queste informazioni con terze parti senza il tuo
                    esplicito consenso. I dati raccolti vengono trattati in conformità con le leggi sulla privacy
                    applicabili. </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header " id="heading5">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
                    Cookie di terze parti
                </button>
            </h2>
            <div id="collapse5" class="accordion-collapse collapse" data-bs-parent="#accordionExample1" role="region"
                aria-labelledby="heading5">
                <div class="accordion-body">
                    Il nostro sito può utilizzare anche cookie di terze parti, come quelli di servizi di analisi web o
                    di social media. Questi cookie sono gestiti da terze parti e sono utilizzati per raccogliere
                    informazioni anonime sull'utilizzo del sito web al fine di migliorare i nostri servizi e mostrare
                    annunci pubblicitari pertinenti. Puoi gestire le impostazioni dei cookie nelle tue preferenze del
                    browser. </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header " id="heading6">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapse6" aria-expanded="false" aria-controls="collapse6">
                    Il tuo consenso
                </button>
            </h2>
            <div id="collapse6" class="accordion-collapse collapse" data-bs-parent="#accordionExample1" role="region"
                aria-labelledby="heading6">
                <div class="accordion-body">
                    Continuando a utilizzare il nostro sito web e inserendo un profilo, acconsenti all'utilizzo dei
                    cookie e alla raccolta delle informazioni come descritto in questa informativa. Se desideri revocare
                    il tuo consenso o avere ulteriori informazioni sulle nostre pratiche di gestione dei dati, ti
                    preghiamo di contattarci. </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header " id="heading7">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapse7" aria-expanded="false" aria-controls="collapse7">
                    Modifiche all'informativa sui cookie
                </button>
            </h2>
            <div id="collapse7" class="accordion-collapse collapse" data-bs-parent="#accordionExample1" role="region"
                aria-labelledby="heading7">
                <div class="accordion-body">
                    Ci riserviamo il diritto di apportare modifiche a questa informativa sui cookie. Eventuali modifiche
                    saranno pubblicate su questa pagina e avranno effetto immediato. Ti invitiamo a controllare
                    periodicamente questa pagina per essere sempre informato sulle ultime modifiche.

                    <br>
                    <br>
                    Per ulteriori informazioni sulla nostra gestione dei dati personali e sui cookie, ti invitiamo a
                    consultare la nostra Informativa sulla Privacy.
                    <br>
                    <br>
                    Grazie per la tua fiducia nel nostro sito web. Se hai domande o dubbi, non esitare a contattarci.
                </div>
            </div>
        </div>


    </div>
</div>