@import 'kit-style.scss';

/* footer {
    position: fixed;
    bottom: 0;
} */

/* Top */

.top-footer-wrapper {
    background-color: $my-primary;
}

p.top-footer-title {
    font-size: 0.8em;
    font-weight: 600;
}

@media (max-width: 568px) {

    .top-footer {
        justify-content: space-evenly;
    }

    .top-footer-wrapper {
        background-color: $my-primary;
    }

    .link-list, .top-footer-title {
        padding-left: 30px;  
    }
    
}

.link-list {
    list-style-type: none;
    font-size: 14px;
    margin: 0 auto;
}


/* Bottom */

.bottom-footer {
    background-color: $my-tertiary-grigio;

    ul li {
        list-style-type: none;
    }

    .footer-link {
        padding-right: 20px;
        font-size: 14px;
        border-right: 0 !important;

        &:hover {
            color: $my-primary !important;
        }
    }

    .link-container {
        width: 450px;
        display: block !important;

        a {
            text-decoration: none;
            color: rgb(125, 125, 125);
        }
    }

    .row {
        width: 100px;
        margin: 0 auto;
    }
}

@media (min-width: 569px) {
   
    .link-list, .top-footer-title {
        padding-left: 30px;  
    }
    
}