@import 'kit-style.scss';



.link-list li {
    text-decoration: none;
    color: white;
}

.link-list li:hover {
    background-color: $my-primary !important;
    text-decoration: underline;
}

/* Top */

.top-footer-wrapper {
    background-color: $my-primary;
}

p.top-footer-title {
    font-size: 0.8em;
    font-weight: 600;
}

@media (max-width: 568px) {

    .top-footer {
        justify-content: space-evenly;
    }

    .top-footer-wrapper {
        background-color: $my-primary;
    }

    .top-footer-title,
    .link-container {
        padding-left: 10px;
    }

    .link-container {
        display: block !important;
        width: 450px;

    }

    .link-list{
        padding-left: 10px; 
    }

    .linkWrapper{
        justify-content: start !important;
        padding-left: 0;
    }

    .bottomLinkContainer{

    }

    

  
        

}

.link-list {
    list-style-type: none;
    font-size: 14px;
    margin: 0 auto;
}


/* Bottom */

.bottom-footer {
    background-color: $my-tertiary-grigio;

    ul li {
        list-style-type: none;
    }

    .footer-link {
        padding-right: 20px;
        font-size: 14px;
        border-right: 0 !important;

        &:hover {
            color: $my-primary !important;
        }
    }

    .link-container {
        width: 450px;
        


        a {
            text-decoration: none;
            color: rgb(125, 125, 125);
        }
    }

    .row {
        width: 100%;
        margin: 0 auto;
    }
}

@media (min-width: 569px) {

    .link-list,
    .top-footer-title {
        padding-left: 35px;
    }

}