<footer class="w-100">
    <!-- TOP FOOTER -->
    <div class="top-footer-wrapper">
        <div class="container-fluid top-footer">
            <div class="row ms-0 w-100 h-100 d-flex justify-content-center">

                <div class=" ps-0 col-sm-12 col-md-6 col-lg-3 col-xl-3 col-xxl-3 text-white">
                    <p class="my-4 top-footer-title">CONTATTI</p>
                    <ul class="link-list mb-4">
                        <a href="mailto: buonsantovito@gmail.com">
                            <li class="mb-3"><b>Email:</b> buonsantovito@outlook.it</li>
                        </a>

                        <a href="https://github.com/Buonsantov/drunk-io" target="_blank" rel="noopener noreferrer">
                            <li class="mb-3"><b>Repository:</b> GitHub</li>
                        </a>

                    </ul>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-3 text-white me-3">
                    <p class="my-4 top-footer-title">QUICKLINKS</p>
                    <ul class="link-list mb-4">
                        <a href="">
                            <li class="mb-1"><b>Telefono Verde:</b> 800 632000 </li>
                        </a>
                        <a href="https://www.salute.gov.it/portale/home.html" target="_blank" rel="noopener noreferrer">
                            <li class="mb-1"><b>Ministero della Salute</b></li>
                        </a>
                        <a href="https://www.salute.gov.it/portale/alcol/homeAlcol.jsp" target="_blank"
                            rel="noopener noreferrer">
                            <li class="mb-1"><b>Portale Alcol</b></li>
                        </a>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container-fluid justify-content-center mt-3 versionContainer">
            <small class="versionString d-flex flex-row-reverse" style="color: white;">V. {{version}}</small>
        </div>
    </div>

    <!-- BOTTOM FOOTER -->
    <div class="container-fluid bottom-footer py-2 h-100">
        <div class=" h-100 d-flex align-items-center justify-content-center linkWrapper">
            <div class="d-flex w-75 link-container align-items-center justify-content-center bottomLinkContainer">

                <a class="clickable" [routerLink]="['/informativa']"><small class="footer-link">Informativa</small></a>

                <a class="clickable" [routerLink]="['/faq']"><small class="footer-link">FAQ</small></a>




                <a href="https://www.iubenda.com/privacy-policy/58746971"
                    class="iubenda-black no-brand iubenda-noiframe iubenda-embed iubenda-noiframe "
                    title="Privacy Policy ">
                    <small class="footer-link">Privacy Policy</small></a>
                <script
                    type="text/javascript">(function (w, d) { var loader = function () { var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src = "https://cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s, tag); }; if (w.addEventListener) { w.addEventListener("load", loader, false); } else if (w.attachEvent) { w.attachEvent("onload", loader); } else { w.onload = loader; } })(window, document);</script>
                <a href="#" role="button" class="iubenda-advertising-preferences-link">
                    <small class="footer-link">Personalizza tracciamento pubblicitario</small>
                </a>
                <a href="https://www.iubenda.com/privacy-policy/58746971/cookie-policy"
                    class="iubenda-black no-brand iubenda-noiframe iubenda-embed iubenda-noiframe "
                    title="Cookie Policy ">
                    <small class="footer-link">Cookie Policy</small></a>
                <script
                    type="text/javascript">(function (w, d) { var loader = function () { var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src = "https://cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s, tag); }; if (w.addEventListener) { w.addEventListener("load", loader, false); } else if (w.attachEvent) { w.attachEvent("onload", loader); } else { w.onload = loader; } })(window, document);</script>
                <a class="clickable" (click)="downloadPdf()"><small class="footer-link">Tabella Alcolemica</small></a>
                <a class="clickable" [routerLink]="['/contatti']"><small class="footer-link">Segnalazioni</small></a>
            </div>
        </div>

    </div>
</footer>