.green-fill{
    fill: green;
}

.disabled{
    fill: gray;
    pointer-events: none;
}

.add-profile{
    
    place-items: center;
    padding-right: 5vw;

}

.informativa{
    margin-bottom: 100px;
}

.card.card-big .card-body {
    padding: 48px;
    padding-bottom: 0;
}


.padding-card{
    padding: 0px 5vw;
}
@media screen and (max-width: 600px) {
    .padding-card{
        padding: 0px 15px;
    }
}




