.green-fill{
    fill: green;
}

.disabled{
    fill: gray;
    pointer-events: none;
}

.add-profile{
    
    place-items: center;
    margin-right: 3vw;

}

.informativa{
    margin-bottom: 100px;
}

.card.card-big .card-body {
    padding: 48px;
    padding-bottom: 0;
}