
<h3 class="title-drunk">Drunk.IO</h3>


<div class="my-5">
    <div class="callout">
        <div class="callout-inner">
            <div class="callout-title">
                <div class="callout-title-sub">
                    <svg class="icon">
                        <use href="./bootstrap-italia/dist/svg/sprites.svg#it-info-circle"></use>
                    </svg>
                    <span class="visually-hidden">Confermato</span>
                    <span class="text">Chi siamo</span>
                </div>

            </div>
            <p><b>Drunk.IO</b>  è un'applicazione che usa le tabelle del Ministero Della salute e cerca di sensibilizzare le persone che assumono Alcool
            </p>

            <p>
                Potrai creare un tuo profilo personale (che sarà salvato solo nella tua sessione Browser) e inserire quanti Drink hai bevuto. Il risultato fa fede a <b> 60-100 minuti </b> dall'assunzione del Drink. Il risultato del calcolo alcolemico ti da informazioni riguardanti:

            </p>
            <ul>
                <li>Effetti</li>
                <li>Sensazioni</li>
                <li>Sanzioni alla Guida</li>
            </ul>
        
        </div>
    </div>
</div>
