<!-- tutto da togliere -->
<!-- <div style="height: 1408px;">
    <div class="row w-100">
        <div class="col-12 w-100 d-flex justify-content-center">
            <h1 class="mt-5">Benvenuto</h1>
        </div>
        <div class="col-12 mt-2 w-100 d-flex justify-content-center">
            <button class="btn btn-primary btn-md" (click)="openModale('modale home page')">Cliccami Modale</button>
        </div>

        <div class="col-12  mt-5 w-100 d-flex justify-content-center">
            <button class="btn btn-success  mx-2  btn-md" (click)="toastMessage('S')">OK Toast</button>
            <button class="btn btn-warning mx-2  btn-md" (click)="toastMessage('W')">Warning Toast</button>
            <button class="btn btn-danger mx-2  btn-md" (click)="toastMessage('D')">Error Toast</button>
        </div>

        <app-test-cookie></app-test-cookie>
    </div>


</div> -->
<app-header></app-header>
<router-outlet></router-outlet>
<app-footer></app-footer>
<!-- <lib-toasts></lib-toasts>
<lib-go-up-button></lib-go-up-button> -->