<app-header></app-header>

<!-- DA TOGLIERE ROUTING # ESEMPIO-->
<!-- <app-nav-test></app-nav-test> -->
<!-- FINE-->
<router-outlet></router-outlet>
<div class="w-100 row d-flex justify-content-center-100">
    <script>!function (d, l, e, s, c) { e = d.createElement("script"); e.src = "//ad.altervista.org/js.ad/size=300X250/?ref=" + encodeURIComponent(l.hostname + l.pathname) + "&r=" + Date.now(); s = d.scripts; c = d.currentScript || s[s.length - 1]; c.parentNode.insertBefore(e, c) }(document, location)</script>

</div>

<app-footer></app-footer>
<lib-toasts></lib-toasts>
<lib-go-up-button></lib-go-up-button>