<div class="it-header-navbar-wrapper ps-0">
    <!-- top header -->
    <div class="top-header mx-0 px-0 container w-100 d-flex align-items-center">
        <div class="row d-flex">
            <p class="top-header-slogan my-2 ms-4"><strong class="text-white fs-3">Bevi responsabilmente</strong></p>
        </div>
    </div>
    <!-- logo container -->
    <div class="mx-0 px-0 logoWrapper w-100 d-flex align-items-center">
        <div class="ms-4 logo-Container mb-4 d-flex">
            <i class="fa-solid fa-wine-glass d-inline"></i>
        </div>
        <div class="logo-Container d-flex align-items-center h-100">
            <h3 class="drunk-text mb-0"><strong>Drunk.iO</strong></h3>
        </div>
    </div>
</div>

<div class="row m-0 p-0">
    <div class="col-12 px-0">
        <!--start nav-->
        <nav class="navbar m-0 p-0 navbar-expand-lg w-100 has-megamenu" aria-label="Navigazione principale">
            <button class="custom-navbar-toggler" type="button" aria-controls="nav1" aria-expanded="false"
                aria-label="Mostra/Nascondi la navigazione" data-bs-toggle="navbarcollapsible" data-bs-target="#nav1">
                <svg class="icon bg-override">
                    <use href="/bootstrap-italia/dist/svg/sprites.svg#it-burger"></use>
                </svg>
            </button>
            <div class="navbar-collapsable" id="nav1" style="display: none;">
                <div class="overlay" style="display: none;"></div>
                <div class="close-div">
                    <button class="btn close-menu" type="button">
                        <span class="visually-hidden">Nascondi la navigazione</span>
                        <svg class="icon">
                            <use href="/bootstrap-italia/dist/svg/sprites.svg#it-close-big"></use>
                        </svg>
                    </button>
                </div>
                <div class="menu-wrapper">
                    <ul class="navbar-nav bg-white">
                        <li class="nav-item bg-white"><a class="nav-link" href="#"><span>Home</span></a></li>
                        <li class="nav-item bg-white"><a class="nav-link" href="#"><span>Profili</span></a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>