<div class="it-header-navbar-wrapper ps-0">
    <!-- top header -->
    <div class="top-header mx-0 px-0 container w-100 d-flex align-items-center">
        <div class="row w-100 d-flex justify-content-between">
            <div class="top-header-slogan pt-2 ps-4 pt-1 ps-5"><strong class="text-white fs-5">Drunk.IO</strong></div>
            <div class="top-header-slogan pt-2 ps-4 pt-1 ps-5" *ngIf="user">

                <div class="d-flex align-items-center justify-content-around flex-wrap flex-sm-nowrap ">
                    <div class="avatar size-md">
                        <svg class="icon icon-secondary">
                            <use href="/bootstrap-italia/dist/svg/sprites.svg#it-user"></use>
                        </svg>
                    </div> <span class="ps-2 text-white pt-1 fs-6 user-center" style="line-height: 14px;">
                        <b>{{user?.nome |titlecase}}</b>
                        <br><i class="dettaglio-user" style="color: white!important;"> {{getDettaglio(user)
                            |titlecase}}</i>
                    </span>
                </div>
                

            </div>
        </div>
    </div>
    <!-- logo container -->
    <div class="mx-0 px-0 ps-3 logoWrapper w-100 d-flex align-items-center">
        <div class="logo-Container pe-0 d-flex clickable" (click)="goToHome()">
            <i class="fa-solid fa-wine-glass d-inline"></i>
        </div>
        <div class="logo-Container ps-0 d-flex align-items-center h-100 clickable" (click)="goToHome()">
            <h3 class="drunk-text m-0 clickable" >
                <div class="d-block d-lg-none"><strong>Drunk.IO</strong></div>
                <div class="d-none d-lg-block"><strong>Bevi <br> Responsabilmente</strong></div>
            </h3>
        </div>
    </div>
</div>

<div class="row m-0 p-0">
    <div class="col-12 px-0">
        <!--start nav-->
        <nav class="navbar m-0 p-0 navbar-expand-lg w-100 has-megamenu" aria-label="Navigazione principale">
            <button class="custom-navbar-toggler" type="button" aria-controls="nav1" aria-expanded="false"
                aria-label="Mostra/Nascondi la navigazione" data-bs-toggle="navbarcollapsible" data-bs-target="#nav1">
                <svg class="icon bg-override">
                    <use href="/bootstrap-italia/dist/svg/sprites.svg#it-burger"></use>
                </svg>
            </button>
            <div class="navbar-collapsable" id="nav1" style="display: none;">
                <div class="overlay" style="display: none;"></div>
                <div class="close-div">
                    <button class="btn close-menu" type="button">
                        <span class="visually-hidden">Nascondi la navigazione</span>
                        <svg class="icon">
                            <use href="/bootstrap-italia/dist/svg/sprites.svg#it-close-big"></use>
                        </svg>
                    </button>
                </div>
                <div class="menu-wrapper">
                    <div id="header-section" class="flex-wrap flex-sm-nowrap d-lg-none mt-2">

                        <div class="mx-0 px-0 ps-3 logoWrapper w-100 d-flex align-items-center">
                            <div class="logo-Container fill-nav-mobile pe-0 d-flex">
                                <i class="fa-solid fa-wine-glass d-inline"></i>
                            </div>
                            <div class="logo-Container ps-0 d-flex align-items-center h-100">
                                <h3 class="drunk-text-nav m-0">
                                    <div class="d-block d-lg-none"><strong>Drunk.IO</strong></div>
                                </h3>
                            </div>
                        </div>
                        <div id="user-section" *ngIf="user">
                            <div class="avatar size-xl" >
                                <svg class="icon icon-secondary">
                                    <use href="/bootstrap-italia/dist/svg/sprites.svg#it-user"></use>
                                </svg>
                            </div>
                            <p class="user-center">
                                <b>{{user?.nome |titlecase}}</b>
                                <br><i class="dettaglio-user"> {{getDettaglio(user) |titlecase}}</i>
                            </p>

                        </div>


                    </div>
                    <ul class="ps-2 navbar-nav bg-white">
                        <li class="nav-item bg-white"><a class="nav-link" href="#" [routerLink]="['/']"><span>Home</span></a></li>
                        <li class="nav-item bg-white"><a class="nav-link" href="#" [routerLink]="['/profili']"><span>Profili</span></a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>