<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <div class="logoContainer d-flex">
            <i class="fa-solid fa-champagne-glasses mt-1"></i>
            <p class="my-0 mx-3">DRUNK.IO</p>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="profili">Profili</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="informative">Informative</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="download">Download</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>