<!-- tutto da togliere -->
<div id="test-component">
    <div class="row w-100">
        <div class="col-12 w-100 d-flex justify-content-center">
            <h1 class="mt-5">Benvenuto</h1>
        </div>
        <!-- # Test Modale-->
        <div class="col-12 mt-2 w-100 d-flex justify-content-center">
            <button class="btn btn-primary btn-md" (click)="openModale('modale home page')">Cliccami Modale</button>
        </div>

        <!-- # Test Toaster-->
        <div class="col-12  mt-5 w-100 d-flex justify-content-center">
            <button class="btn btn-success  mx-2  btn-md" (click)="toastMessage('S')">OK Toast</button>
            <button class="btn btn-warning mx-2  btn-md" (click)="toastMessage('W')">Warning Toast</button>
            <button class="btn btn-danger mx-2  btn-md" (click)="toastMessage('D')">Error Toast</button>
        </div>

        <!-- # Test Cookie-->
        <app-test-cookie></app-test-cookie>

        <!-- # Test API-->
        <app-api-test></app-api-test>
    </div>


</div>