<div class="row w-100 py-5 d-flex justify-content-center">
    <div class="buttonContainer col-12  mt-5 w-100 d-flex justify-content-center">
        <button class="btn btn-outline-primary  mx-2 my-2  btn-md" [routerLink]="''">Home</button>
        <button class="btn btn-outline-primary  mx-2 my-2 btn-md" [routerLink]="'/test'">TEST-Module</button>
        <button class="btn btn-outline-primary  mx-2 my-2 btn-md" [routerLink]="'/test/form'">TEST-Form Resolver +
            Auth</button>
    </div>
</div>