// paletta Drunk
$my-primary: #2770b7;
$my-secondary: #273164;
$my-secondary-chiaro: #6daddf;
$my-primary-grigio: #757575;
$my-secondary-grigio: #778899;
$my-tertiary-grigio: #dfdfdf;
$my-code: #abb2bf;

// paletta custom
$my-text: #005586;
$my-text-grigio: #585858;
$my-title: #005586;
$my-error: #c92121;
$my-success: #008758;
$my-warning: #a66300;
$my-hover: #f2f5fb;
$my-shadow: #afafaf;
$my-table-grigio:#7f899047;
$my-primary-btn: #2770b7;
$my-primary-btn-hover: #0053a6;
$my-primary-btn-hover-border: #004d99;

$my-cookie: #435a70;
$my-hover-list: #f2f5fb;

$black: #000000;
$white: #ffffff;

