@import "kit-style.scss";
@import "~@ng-select/ng-select/themes/default.theme.css";

.container {
    max-width: 100vw;
}

.callout {
    max-width: 90%;
    margin-left: 5%;
    .callout-inner {
        padding: 1.1rem 2.222rem;
        border: 2px solid;;
        border-color: #5d7083;
        margin: 1.75rem 0 1rem;
        border-radius: 15px;
    }
    .callout-title-sub{
        background: white;
        width: max-content;
    }
}

.callout:not(.callout-highlight):not(.callout-more) .callout-title .text:after {
    content: "";
    width: 0%;
}
.callout:not(.callout-highlight):not(.callout-more) .callout-title:before {
    width: 0;
}

.title-drunk{
    color: #0059b3
}

.card-center{
    place-content: center;
}

.label-select{
    padding-bottom: 15px;
}

ng-select{
    margin-top: 10px;
}

textarea{
    border: 1px solid;
}