<div class="cardContainer">
    <div *ngFor="let user of users">
        <div class="card">
            <p>Nome: {{ user.nome }}</p>
            <p>Cookie: {{ user.cookie }}</p>
            <p>Peso: {{ user.peso }}</p>
            <p>Profilo Selezionato: {{ user.profiloSelezionato }}</p>
            <p>Sesso: {{ user.sesso }}</p>
            <button class="btn btn-primary" (click)="selezionaProfilo(user.id)">SELEZIONA</button>
            <button class="btn btn-warning" (click)="confermaCancella(user.id)">CANCELLA</button>

        </div>

    </div>
</div>
